{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'bulma.min.css' %}"
    />
    <title>Ezpower</title>
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="container">
      <section class="section">
        <main>{% block content %}{% endblock content %}</main>
      </section>
    </div>
  </body>
</html>
