{% extends "base.html" %} {% block content %}
<h1 class="title is-size-1 has-text-centered">{{username}}'s Profile</h1>
<div class="box">
  <h3 class="is-size-3">
    Meter Balance: <strong class="is-size-2">{{meter.unit}}</strong>
  </h3>
  <p class="is-size-5">
    Location: <strong class="is-size-4">{{meter.location}} </strong><br />
    Meter No : <strong class="is-size-4">{{meter.meter_id}}</strong>
  </p>
  <a href="{% url 'make-transaction' %}">
    <button class="button is-primary" type="submit">Buy Unit</button>
  </a>
</div>

<div class="box">
  <h3 class="is-size-3">
    Account Number: <strong class="is-size-2">{{account_no}}</strong>
  </h3>
  <h3 class="is-size-3">
    Account Balance: <strong class="is-size-2">{{account_balance}}</strong>
  </h3>
  <a href="{% url 'recharge' %}">
    <button class="button is-primary" type="submit">Recharge Account</button>
  </a>
</div>
<div>
  <h4 class="title is-size-3 has-text-centered">Previous Transactions</h4>
  {% include "transaction_files.html" %}
  <a href="{% url 'history' %}"
    ><button class="button is-info">View all Transactions</button></a
  >
</div>
{% endblock content %}
