{% load static %}
<header class="header header--loggedIn">
  <div class="container">
    <a href="{% url 'home' %}" class="header__logo">
      <img alt="" class="image" />
      <h1>Ezpower</h1>
    </a>
    <div>
      <h1>{% block header %}{% endblock header %}</h1>
    </div>
    <nav class="header__menu">
      {% if request.user.is_authenticated %}
      <ul class="nav__links">
        <li>
          <a href="{% url 'profile' %}">Profile</a>
        </li>
        <li>
          <a href="{% url 'history' %}">Previous Transactions</a>
        </li>
        <li>
          <a href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
      {% else %}
      <a href="{% url 'login' %}">
        <p>Login</p>
      </a>
      <a href="{% url 'register' %}">
        <p>Register</p>
      </a>
      {% endif %}
    </nav>
  </div>
</header>
